<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Multi-Index" data-toc-modified-id="Multi-Index-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Multi Index</a></span><ul class="toc-item"><li><span><a href="#stack" data-toc-modified-id="stack-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>stack</a></span></li><li><span><a href="#unstack" data-toc-modified-id="unstack-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>unstack</a></span></li><li><span><a href="#stack/unstack으로-melt처럼-만들기" data-toc-modified-id="stack/unstack으로-melt처럼-만들기-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span><code>stack</code>/<code>unstack</code>으로 melt처럼 만들기</a></span></li><li><span><a href="#religion만-뽑기" data-toc-modified-id="religion만-뽑기-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>religion만 뽑기</a></span></li></ul></li><li><span><a href="#DataFrame에-값-추가하기" data-toc-modified-id="DataFrame에-값-추가하기-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>DataFrame에 값 추가하기</a></span><ul class="toc-item"><li><span><a href="#appned" data-toc-modified-id="appned-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>appned</a></span></li><li><span><a href="#concat" data-toc-modified-id="concat-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>concat</a></span></li></ul></li><li><span><a href="#추천시스템-복습" data-toc-modified-id="추천시스템-복습-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>추천시스템 복습</a></span></li><li><span><a href="#scipy" data-toc-modified-id="scipy-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>scipy</a></span></li><li><span><a href="#정규식" data-toc-modified-id="정규식-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>정규식</a></span></li><li><span><a href="#구조-변경" data-toc-modified-id="구조-변경-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>구조 변경</a></span><ul class="toc-item"><li><span><a href="#.str" data-toc-modified-id=".str-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>.str</a></span></li><li><span><a href="#.cat" data-toc-modified-id=".cat-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>.cat</a></span></li></ul></li><li><span><a href="#위치기반-분석" data-toc-modified-id="위치기반-분석-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>위치기반 분석</a></span><ul class="toc-item"><li><span><a href="#folium" data-toc-modified-id="folium-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>folium</a></span></li><li><span><a href="#공공데이터-지도-시각화" data-toc-modified-id="공공데이터-지도-시각화-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>공공데이터 지도 시각화</a></span></li></ul></li></ul></div>

In [1]:
import seaborn as sns
import pandas as pd

C:\Users\JINHYO\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
tips = sns.load_dataset('tips')

In [3]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

## Multi Index

### stack

In [4]:
tips.groupby('sex').mean()

        total_bill       tip      size
sex
Male     20.744076  3.089618  2.630573
Female   18.056897  2.833448  2.459770

`stack`은 컬럼을 인덱스로 만든다. 이때, 인덱스는 계층적인 구조를 가진 멀티인덱스가 된다.

In [5]:
tips.groupby('sex').mean().stack() # SCI (Stack은 Column을 Index로 바꾼다.)

sex
Male    total_bill    20.744076
        tip            3.089618
        size           2.630573
Female  total_bill    18.056897
        tip            2.833448
        size           2.459770
dtype: float64

Series에서 괄호 한 개일 때는 행을 뽑는다.

In [6]:
# 행 인덱스가 Male인 것을 뽑음.
# Male의 하위 인덱스인 total_tip, size는 남음.
tips.groupby('sex').mean().stack()['Male']

total_bill    20.744076
tip            3.089618
size           2.630573
dtype: float64

괄호 두 개일 때는 fancy indexing과 같은 개념이다.

In [7]:
#  Male이 남아있다.
# fancy indexing하면 원래의 차원을 유지한다.
tips.groupby('sex').mean().stack()[['Male']]

sex
Male  total_bill    20.744076
      tip            3.089618
      size           2.630573
dtype: float64

### unstack

`unstack`은 인덱스를 컬럼으로 만든다.

In [8]:
tips.groupby('sex').mean()

        total_bill       tip      size
sex
Male     20.744076  3.089618  2.630573
Female   18.056897  2.833448  2.459770

인덱스였던 Male, Female이 컬럼의 하위 인덱스가 되었다.

In [9]:
# index가 없어지므로 Series가 됨.
tips.groupby('sex').mean().unstack() # UIC : Unstack은 Index를 Column으로 바꾼다.

            sex
total_bill  Male      20.744076
            Female    18.056897
tip         Male       3.089618
            Female     2.833448
size        Male       2.630573
            Female     2.459770
dtype: float64

멀티인덱스인 상태에서 `unstack`하면 컬럼이 계층적인 구조를 가진 멀티인덱스가 된다.

In [10]:
tips.groupby(['sex', 'day']).mean()

             total_bill       tip      size
sex    day
Male   Thur   18.714667  2.980333  2.433333
       Fri    19.857000  2.693000  2.100000
       Sat    20.802542  3.083898  2.644068
       Sun    21.887241  3.220345  2.810345
Female Thur   16.715312  2.575625  2.468750
       Fri    14.145556  2.781111  2.111111
       Sat    19.680357  2.801786  2.250000
       Sun    19.872222  3.367222  2.944444

sex 컬럼이 기존 컬럼의 하위 인덱스가 되었다.

In [11]:
tips.groupby(['sex', 'day']).mean().unstack()

       total_bill                                        tip            \
day          Thur        Fri        Sat        Sun      Thur       Fri
sex
Male    18.714667  19.857000  20.802542  21.887241  2.980333  2.693000
Female  16.715312  14.145556  19.680357  19.872222  2.575625  2.781111

                                size
day          Sat       Sun      Thur       Fri       Sat       Sun
sex
Male    3.083898  3.220345  2.433333  2.100000  2.644068  2.810345
Female  2.801786  3.367222  2.468750  2.111111  2.250000  2.944444

멀티인덱스일 때 컬럼으로 바꿀 인덱스를 지정할 수 있다.

In [12]:
tips.groupby(['sex', 'day']).mean().unstack(0) # default : level=-1

     total_bill                  tip                size
sex        Male     Female      Male    Female      Male    Female
day
Thur  18.714667  16.715312  2.980333  2.575625  2.433333  2.468750
Fri   19.857000  14.145556  2.693000  2.781111  2.100000  2.111111
Sat   20.802542  19.680357  3.083898  2.801786  2.644068  2.250000
Sun   21.887241  19.872222  3.220345  3.367222  2.810345  2.944444

### `stack`/`unstack`으로 melt처럼 만들기

In [13]:
pew = pd.read_csv('data/pew.txt', sep='\t')

In [14]:
pew

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

최종적으로 만들 모양은 다음과 같다.

In [15]:
pew.melt('religion')

                  religion            variable  value
0                 Agnostic               <$10k     27
1                  Atheist               <$10k     12
2                 Buddhist               <$10k     27
3                 Catholic               <$10k    418
4       Don’t know/refused               <$10k     15
..                     ...                 ...    ...
175               Orthodox  Don't know/refused     73
176        Other Christian  Don't know/refused     18
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

완성.

In [16]:
pew.set_index('religion').stack().reset_index()

         religion             level_1    0
0        Agnostic               <$10k   27
1        Agnostic             $10-20k   34
2        Agnostic             $20-30k   60
3        Agnostic             $30-40k   81
4        Agnostic             $40-50k   76
..            ...                 ...  ...
175  Unaffiliated             $50-75k  528
176  Unaffiliated            $75-100k  407
177  Unaffiliated           $100-150k  321
178  Unaffiliated               >150k  258
179  Unaffiliated  Don't know/refused  597

[180 rows x 3 columns]

### religion만 뽑기

다음 Series에서 religion만 뽑아보자.

In [17]:
pew.set_index('religion').stack()

religion
Agnostic      <$10k                  27
              $10-20k                34
              $20-30k                60
              $30-40k                81
              $40-50k                76
                                   ...
Unaffiliated  $50-75k               528
              $75-100k              407
              $100-150k             321
              >150k                 258
              Don't know/refused    597
Length: 180, dtype: int64

dictionary 방식, attribute 방식 모두 사용할 수 없다

In [ ]:
# Error
pew.set_index('religion').stack()['religion']

In [ ]:
# Error
pew.set_index('religion').stack().religion

fancy indexing은 결과가 없다.

In [20]:
pew.set_index('religion').stack()[['religion']]

Series([], dtype: int64)

여기서 보이는 religion은 설명일 뿐이므로, 따로 뽑을 수 없다.

In [21]:
# index가 아니다.
pew.set_index('religion').stack().index

MultiIndex([(    'Agnostic',              '<$10k'),
            (    'Agnostic',            '$10-20k'),
            (    'Agnostic',            '$20-30k'),
            (    'Agnostic',            '$30-40k'),
            (    'Agnostic',            '$40-50k'),
            (    'Agnostic',            '$50-75k'),
            (    'Agnostic',           '$75-100k'),
            (    'Agnostic',          '$100-150k'),
            (    'Agnostic',              '>150k'),
            (    'Agnostic', 'Don't know/refused'),
            ...
            ('Unaffiliated',              '<$10k'),
            ('Unaffiliated',            '$10-20k'),
            ('Unaffiliated',            '$20-30k'),
            ('Unaffiliated',            '$30-40k'),
            ('Unaffiliated',            '$40-50k'),
            ('Unaffiliated',            '$50-75k'),
            ('Unaffiliated',           '$75-100k'),
            ('Unaffiliated',          '$100-150k'),
            ('Unaffiliated',              '>150k'),
            ('Unaffiliated', 'Don't know/refused')],
           names=['religion', None], length=180)

## DataFrame에 값 추가하기

### appned

In [22]:
pew1 = pd.read_csv('data/pew.txt', sep='\t')
pew2 = pd.read_csv('data/pew.txt', sep='\t')

`append`는 데이터를 아래 방향으로 추가한다.

In [23]:
pew1.append(pew2)

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

### concat

numpy에서는 array를 합쳐주는 concatenate 라는 함수가 있었다.

In [24]:
import numpy as np

In [25]:
a = np.arange(20).reshape(4,5)
b = np.arange(20).reshape(4,5)

In [26]:
# array를 서로 붙여준다.
np.concatenate([a, b])

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

어느 축으로 합칠 것인지 axis 옵션을 지정할 수 있다.

In [27]:
np.concatenate([a, b], axis=1)

array([[ 0,  1,  2,  3,  4,  0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19, 15, 16, 17, 18, 19]])

pandas에서는 `concat`이라는 줄임말을 쓴다.

In [28]:
# concat은 데이터를 합친다.
pd.concat([pew1, pew2])

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

`concat`은 옆으로도 합칠 수 있다.

In [29]:
pd.concat([pew1, pew2], axis=1)

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,...,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,...,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,...,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,...,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,...,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,...,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,...,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,...,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,...,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,...,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,...,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,...,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,...,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,...,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,...,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,...,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,...,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,...,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,...,217,299,374,365,341,528,407,321,258,597

----

기계학습(딥러닝)의 기본구조 : Tidy Data
- Tidy Data : 기계학습, 통계적 분석 기본 구조

## 추천시스템 복습

In [30]:
movies = pd.read_csv('ml-1m/movies.dat', 
                     sep='::', 
                     engine='python', # 원래 C 기반으로 데이터를 불러오는데, 빠르긴 하지만 유연하지 못하다. 
                                      # python 기반으로 불러오면 조금 느리지만 유연하다.
                     header=None,
                     names=['MovieID', 'Titles', 'Genres']
                    )

In [31]:
users = pd.read_csv('ml-1m/users.dat', 
                    sep="::", 
                    engine="python", 
                    header=None,
                    names= ['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code'])

In [32]:
ratings = pd.read_csv('ml-1m/ratings.dat', 
                    sep="::", 
                    engine="python", 
                    header=None,
                    names= ["UserID", "MovieID", "Rating", "Timestamp"])

In [33]:
# 불러온 데이터를 하나로 합침
data = ratings.merge(users).merge(movies)

In [34]:
# 원본을 유지하기 위해서 copy
recommendation_data = data[['UserID', 'MovieID', 'Rating']].copy()

In [35]:
# UserID를 행, MovieID를 열, Rating을 값으로 하는 DataFrame 
recommendation_pivot = recommendation_data.pivot('UserID', 'MovieID', 'Rating')

In [36]:
# 결측값(missing value)를 0으로 채움
recommendation_pivot.fillna(0, inplace=True)

In [37]:
# 데이터가 많아서 상관관계를 구하는데 시간이 올래 걸리므로, 일부만 사용함
# corr은 열 기준으로 상관관계를 분석
# UserID가 열이 되어야 하므로 T(전치)
small_test = recommendation_pivot.T.iloc[:500,:500]

In [38]:
# 유저들 간의 상관관계 분석
small_test_corr = small_test.corr()

In [39]:
# 5번 유저와 상관관계가 높은 4명
# loc는 이름으로, iloc는 인덱스로 인덱싱
small_test_corr.loc[5].nlargest(4)

UserID
5      1.000000
193    0.462310
131    0.446335
281    0.404170
Name: 5, dtype: float64

In [40]:
# nlargest를 사용하지 않고 상관관계가 높은 상위 10명 뽑기 
small_test_corr.loc[5].sort_values(ascending=False)[:10]

UserID
5      1.000000
193    0.462310
131    0.446335
281    0.404170
59     0.369056
225    0.360986
208    0.358564
30     0.350050
58     0.339585
23     0.339135
Name: 5, dtype: float64

In [41]:
# 재할당하면 tab 자동완성을 사용할 수 있다. (편법)
x = recommendation_pivot.loc[5]

In [42]:
x

MovieID
1       0.0
2       0.0
3       0.0
4       0.0
5       0.0
       ...
3948    0.0
3949    0.0
3950    0.0
3951    0.0
3952    0.0
Name: 5, Length: 3706, dtype: float64

numpy와 pandas의 `where`는 서로 기능이 달랐다.

In [ ]:
# Error
recommendation_pivot[x.where(x>0, False)]

In [ ]:
# Error
recommendation_pivot.T[x.where(x>0, False)]

pandas에서 `where`의 결과는 True, False가 아니라서 Boolean Indexing할 수 없다.

In [43]:
# 조건이 참이면 값 반환, 거짓이면 False로 값을 바꾼다.
x.where(x>0, False).value_counts()

False    3508
4.0        61
3.0        61
2.0        36
5.0        21
1.0        19
Name: 5, dtype: int64

In [45]:
def nearest_user(user_id, n):
    """user_id를 인자로 넣으면 상관관계가 높은 사람 n명을 알려주는 함수"""
    return small_test_corr.loc[user_id].nlargest(n+1)[1:]

In [46]:
nearest_user(10, 3)

UserID
264    0.504629
48     0.452265
92     0.450986
Name: 10, dtype: float64

Series에 꺾은 괄호를 붙이면 해당하는 인덱스를 뽑는다.

In [47]:
# Series를 인스턴스 방식으로 만들 때 index를 지정할 수 있다. 
a = pd.Series([1,2,3,4,5], index=list('abcde'))

In [48]:
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [49]:
# 인덱스 b에 해당하는 값
a['b']

2

`nearest_user`의 결과도 Series이므로, 인덱스를 지정해서 값을 뽑을 수 있다.

In [50]:
nearest_user(10, 3)

UserID
264    0.504629
48     0.452265
92     0.450986
Name: 10, dtype: float64

In [51]:
nearest_user(10, 3)[48]

0.452265234679146

In [52]:
# loc는 이름을 기준으로 값을 뽑는다.
nearest_user(10, 3).loc[48]

0.452265234679146

`index` 메소드는 인덱스 객체를 반환한다.

In [53]:
# index 객체에서 2번째 값을 인덱싱
nearest_user(10, 3).index[2]

92

In [54]:
# 7번 유저와 상관관계가 높은 user 2명의 인덱스를 할당함
user0 = nearest_user(7,2).index[0]
user1 = nearest_user(7,2).index[1]

In [55]:
user1

251

In [56]:
# &는 교집합 연산자이다. set의 메소드 intersection과 동일하다.
# user0과 user1이 본 영화 목록
t = set(movie_seen(user0).index) & set(movie_seen(user1).index)

In [57]:
t

{21, 110, 349, 377, 380, 474, 480, 1580, 1610, 2000, 2058, 2916, 3418}

In [58]:
# MovieID가 t 중에 하나이고,
# Rating이 5이고,
# userID가 288, 251 중에 하나
ratings[(ratings.MovieID.isin(t)) & (ratings.Rating==5) & ((ratings.UserID==288) | (ratings.UserID==251))]

       UserID  MovieID  Rating  Timestamp
37091     251     1610       5  976716575
37110     251       21       5  976716616
42318     288     2058       5  976567700
42333     288     1610       5  976567800
42338     288     1580       5  976567843
42339     288      110       5  976567700
42341     288     3418       5  976567554
42354     288     2916       5  976568001
42356     288      377       5  976567920
42358     288      380       5  976567920
42359     288     2000       5  976567522

## scipy

scipy는 numpy 기반의 과학 라이브러리이다.

In [59]:
from scipy import spatial

In [60]:
# 두 벡터간의 코사인 거리를 측정한다.
spatial.distance.cosine([[1,2,3]], [[4,5,6]])

0.0253681538029239

In [61]:
from sklearn.metrics.pairwise import cosine_similarity

In [72]:
# 코사인 유사도를 빠르게 계산해준다.
pd.DataFrame(cosine_similarity(recommendation_pivot))

,0,1,2,3,4,5,6,7,8,9,...,6030,6031,6032,6033,6034,6035,6036,6037,6038,6039
0,1.000000,0.096382,0.120610,0.132455,0.090158,0.179222,0.059678,0.138241,0.226148,0.255288,...,0.170588,0.082006,0.069807,0.033663,0.114877,0.186329,0.135979,0.000000,0.174604,0.133590
1,0.096382,1.000000,0.151479,0.171176,0.114394,0.100865,0.305787,0.203337,0.190198,0.226861,...,0.112503,0.091222,0.268565,0.014286,0.183384,0.228241,0.206274,0.066118,0.066457,0.218276
2,0.120610,0.151479,1.000000,0.151227,0.062907,0.074603,0.138332,0.077656,0.126457,0.213655,...,0.092960,0.125864,0.161507,0.000000,0.097308,0.143264,0.107744,0.120234,0.094675,0.133144
3,0.132455,0.171176,0.151227,1.000000,0.045094,0.013529,0.130339,0.100856,0.093651,0.120738,...,0.163629,0.093041,0.382803,0.000000,0.082097,0.170583,0.127464,0.062907,0.064634,0.137968
4,0.090158,0.114394,0.062907,0.045094,1.000000,0.047449,0.126257,0.220817,0.261330,0.117052,...,0.100652,0.035732,0.061806,0.054151,0.179083,0.293365,0.172686,0.020459,0.027689,0.241437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6035,0.186329,0.228241,0.143264,0.170583,0.293365,0.093583,0.122441,0.227400,0.239607,0.338072,...,0.131294,0.209843,0.186426,0.103431,0.267405,1.000000,0.341462,0.124174,0.219115,0.411891
6036,0.135979,0.206274,0.107744,0.127464,0.172686,0.065788,0.111673,0.144395,0.225055,0.246902,...,0.142309,0.276134,0.129985,0.118749,0.141676,0.341462,1.000000,0.049015,0.252146,0.428240
6037,0.000000,0.066118,0.120234,0.062907,0.020459,0.065711,0.000000,0.019242,0.093470,0.113789,...,0.108837,0.106897,0.040689,0.000000,0.063967,0.124174,0.049015,1.000000,0.161714,0.099300
6038,0.174604,0.066457,0.094675,0.064634,0.027689,0.167303,0.014977,0.044660,0.046434,0.296776,...,0.118776,0.250994,0.053750,0.102168,0.068399,0.219115,0.252146,0.161714,1.000000,0.228332
6039,0.133590,0.218276,0.133144,0.137968,0.241437,0.083436,0.080680,0.148123,0.215819,0.255793,...,0.154574,0.291988,0.115540,0.118840,0.168997,0.411891,0.428240,0.099300,0.228332,1.000000

## 정규식

특정한 규칙을 가진 문자열의 집합을 표현하는 데 사용하는 형식 언어이다. 주로 문자열의 검색과 치환을 위해서 사용한다.  
파이썬은 표준 라이브러리를 통해서 정규식을 지원한다.  
정규식은 별도의 문법을 사용하기 때문에 따로 익혀야 한다.
([정규식 연습 추천 사이트](https://regexr.com/))

In [74]:
import re

In [87]:
# _를 포함한 문자와 숫자가 반복됨을 의미
pattern = "\w+"

In [88]:
string = "hello world 123 안녕하세요 ... !@#"

In [89]:
# string에서 pattern(정규표현식)과 일치하는 텍스트를 모두 찾음
re.findall(pattern, string)

['hello', 'world', '123', '안녕하세요']

## 구조 변경
- 값 기반으로 구조 변경
    - .str -> expand (값 기반 구조 변경), get_dummies (onehot encoding)
        - str
        - re (regex, pat)
    - .cat 
        - category
        - str 기능도 사용 가능
    - .dt

### .str

In [90]:
import seaborn as sns

In [91]:
tips = sns.load_dataset('tips')

In [92]:
x = tips.sex.str # .str은 문자열이 쓸 수 있는 메소드 사용할 수 있다. 
                 # 추가로 정규식(regex) 기능도 메소드로 사용할 수 있다.

In [93]:
x.upper()

0      FEMALE
1        MALE
2        MALE
3        MALE
4      FEMALE
        ...
239      MALE
240    FEMALE
241      MALE
242      MALE
243    FEMALE
Name: sex, Length: 244, dtype: object

In [94]:
a = 'text'

In [95]:
type(a)

str

In [96]:
# python str 타입이 쓸 수 있는 메소드를 그대로 쓸 수 있다. 
set(dir(x)) & set(dir(a))

{'__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'find',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill'}

In [97]:
# split
a = ' a b c d '

In [98]:
# 문자열을 쪼개준다.
a.split(" ")

['', 'a', 'b', 'c', 'd', '']

In [99]:
x = movies.Genres.str

In [100]:
# python의 split과 같다.
x.split('|')

0        [Animation, Children's, Comedy]
1       [Adventure, Children's, Fantasy]
2                      [Comedy, Romance]
3                        [Comedy, Drama]
4                               [Comedy]
                      ...
3878                            [Comedy]
3879                             [Drama]
3880                             [Drama]
3881                             [Drama]
3882                   [Drama, Thriller]
Name: Genres, Length: 3883, dtype: object

In [101]:
# expand 옵션은 DataFrame으로 다시 만들어준다.
x.split('|', expand=True)

              0           1        2     3     4     5
0     Animation  Children's   Comedy  None  None  None
1     Adventure  Children's  Fantasy  None  None  None
2        Comedy     Romance     None  None  None  None
3        Comedy       Drama     None  None  None  None
4        Comedy        None     None  None  None  None
...         ...         ...      ...   ...   ...   ...
3878     Comedy        None     None  None  None  None
3879      Drama        None     None  None  None  None
3880      Drama        None     None  None  None  None
3881      Drama        None     None  None  None  None
3882      Drama    Thriller     None  None  None  None

[3883 rows x 6 columns]

In [102]:
# maxsplit 옵션은 쪼개는 최대 횟수
a.split(' ', 1)

['', 'a b c d ']

In [103]:
# rsplit은 뒤에서부터 쪼갠다.
a.rsplit(' ', 1)

[' a b c d', '']

In [104]:
# 파라미터 pat는 patten의 약자; 정규식
# pattern에 매치되는 회수를 카운트한다.
x.count('Co')

0       1
1       0
2       1
3       1
4       1
       ..
3878    1
3879    0
3880    0
3881    0
3882    0
Name: Genres, Length: 3883, dtype: int64

### .cat

category dtype은 문자열 기능(.str) + 카테고리 기능(.cat) 사용 가능하다.

In [69]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.3 KB

In [70]:
# sex 열은 category dtype이다.
y = tips.sex.cat

In [74]:
# codes는 Label Encoding을 시켜준다.
y.codes

0      1
1      0
2      0
3      0
4      1
      ..
239    0
240    1
241    0
242    0
243    1
Length: 244, dtype: int8

In [75]:
# categories는 cagtegory dtype에 있는 값의 종류를 알려준다.
tips.day.cat.categories

Index(['Thur', 'Fri', 'Sat', 'Sun'], dtype='object')

category dtype은 str의 기능도 사용할 수 있다.

In [87]:
u = tips.day.str

In [88]:
# 값을 column으로 만들어준다.
u.get_dummies()

     Fri  Sat  Sun  Thur
0      0    0    1     0
1      0    0    1     0
2      0    0    1     0
3      0    0    1     0
4      0    0    1     0
..   ...  ...  ...   ...
239    0    1    0     0
240    0    1    0     0
241    0    1    0     0
242    0    1    0     0
243    0    0    0     1

[244 rows x 4 columns]

## 위치기반 분석

### folium

folium은 별도 설치가 필요하다.

In [ ]:
!pip install folium

pandas 버전이 안 맞는 경우 에러가 발생할 수 있다.  
pandas를 최신 버전으로 업데이트하는 명령어는 다음과 같다.

In [ ]:
!pip install -U pandas

In [111]:
import folium

In [112]:
dir(folium) # 처음 보면 dir

['Choropleth',
 'Circle',
 'CircleMarker',
 'ClickForMarker',
 'ColorLine',
 'ColorMap',
 'CssLink',
 'CustomIcon',
 'Div',
 'DivIcon',
 'Element',
 'FeatureGroup',
 'Figure',
 'FitBounds',
 'GeoJson',
 'GeoJsonTooltip',
 'Html',
 'IFrame',
 'Icon',
 'JavascriptLink',
 'LatLngPopup',
 'LayerControl',
 'LinearColormap',
 'Link',
 'MacroElement',
 'Map',
 'Marker',
 'PolyLine',
 'Polygon',
 'Popup',
 'Rectangle',
 'RegularPolygonMarker',
 'StepColormap',
 'TileLayer',
 'Tooltip',
 'TopoJson',
 'Vega',
 'VegaLite',
 'WmsTileLayer',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_version',
 'branca',
 'features',
 'folium',
 'map',
 'raster_layers',
 'sys',
 'utilities',
 'vector_layers']

In [113]:
m = folium.Map()

In [114]:
# 오른쪽 아래 워터마크를 보면 OpenStreetMap이 있다. -> Google Map에 기반한 오픈소스
m

In [115]:
# location은 지도가 시작하는 위치
# zoom_start는 지도의 최초 배율
m1 = folium.Map([37.5665, 126.9780], zoom_start=8)

In [116]:
m1

In [117]:
# 지도의 스타일을 바꿀 수 있다.
m2 = folium.Map([37.5665, 126.9780], zoom_start=8, tiles='Stamen Toner')

In [118]:
m2

In [119]:
m3 = folium.Map([37.5665, 126.9780], zoom_start=8, tiles='Stamen Terrain')

In [120]:
m3

In [121]:
# marker는 지도에 마커 표시를 만든다.
m3 = folium.Map([37.5665, 126.9780], zoom_start=8, tiles='Stamen Terrain')
marker1 = folium.Marker([37.5665, 126.9780])

In [122]:
# Marker 인스턴스를 만들고 나서 add_to로 지도에 마커를 추가한다.
marker1.add_to(m3)

In [123]:
m3

In [124]:
# 마커 눌렀을 때 액션 추가
m3 = folium.Map([37.5665, 126.9780], zoom_start=8, tiles='Stamen Terrain')
marker1 = folium.Marker([37.5665, 126.9780], popup='Sun')

In [125]:
marker1.add_to(m3)

In [126]:
# 마커를 누르면 팝업이 뜬다.
m3

### 공공데이터 지도 시각화

공공데이터 출처 : https://www.data.go.kr/data/3034800/fileData.do  
파일이름을 shop.csv로 변환하여 사용하였다.

In [127]:
shop = pd.read_csv('shop.csv', encoding='cp949')

In [128]:
shop

,상권번호,상권명,시도코드,시도명,시군구코드,시군구명,상권좌표수,좌표(경위도)_wgs84,데이터기준일자
0,9145,홍대입구역_2,11,서울특별시,1144,마포구,19,"126.922648349739,37.5576530594729|126.92240301...",2017-11-01
1,9146,홍대입구역_3,11,서울특별시,1144,마포구,21,"126.925311211591,37.5582269313782|126.92263422...",2017-11-01
2,9147,홍익대학교,11,서울특별시,1144,마포구,46,"126.926047368483,37.5574046655371|126.92608751...",2017-11-01
3,9148,서대문역_1,11,서울특별시,1111,종로구,12,"126.967096112898,37.5666006526983|126.96688417...",2017-11-01
4,9149,서대문역_2,11,서울특별시,1141,서대문구,29,"126.965843273243,37.5663374076648|126.96624488...",2017-11-01
...,...,...,...,...,...,...,...,...,...
1132,10235,조치원_2,36,세종특별자치시,3611,세종특별자치시,20,"127.296369759832,36.6039672770647|127.29652404...",2017-11-01
1133,10236,중동4거리,44,충청남도,4415,공주시,17,"127.125492811681,36.4584826673584|127.12538727...",2017-11-01
1134,10237,청양시외버스터미널,44,충청남도,4479,청양군,34,"126.803302848686,36.453014451947|126.803168359...",2017-11-01
1135,10238,공주대학교,44,충청남도,4415,공주시,26,"127.146654126853,36.4740193686466|127.14631247...",2017-11-01
1136,10239,광혜원면,43,충청북도,4375,진천군,35,"127.445119781597,36.9904850033646|127.44544751...",2017-11-01

In [129]:
# 공공데이터 인코딩 에러는 대부분 cp949로 해결된다.
incheon = pd.read_csv('incheon.csv', encoding='cp949')

In [130]:
incheon

          순번         분전함    등주         위도          경도     데이터기준일자
0          1  월미로21(YB1)  좌103  37.472676  126.606904  2020-04-27
1          2  월미로21(YB1)  좌104  37.473054  126.606874  2020-04-27
2          3  월미로21(YB1)  좌105  37.473430  126.606698  2020-04-27
3          4  월미로21(YB1)  좌106  37.473816  126.606510  2020-04-27
4          5  월미로21(YB1)  좌107  37.474174  126.606356  2020-04-27
...      ...         ...   ...        ...         ...         ...
15725  15726   흰바위로LP_14    26  37.478098  126.502607  2020-04-27
15726  15727   흰바위로LP_14    27  37.477987  126.502791  2020-04-27
15727  15728   흰바위로LP_14    28  37.477861  126.503011  2020-04-27
15728  15729   흰바위로LP_14    29  37.477743  126.503217  2020-04-27
15729  15730   흰바위로LP_14    30  37.477630  126.503417  2020-04-27

[15730 rows x 6 columns]

In [131]:
# 위도경도 데이터 10개만 사용
small_incheon = incheon.iloc[:10, :]

In [141]:
m = folium.Map([37.4644673, 126.6342654], zoom_start=14)

In [142]:
# small_incheon의 위도 경도를 모두 지도에 추가한다.
for i in small_incheon.itertuples():
    folium.Marker([i.위도, i.경도], popup=i.분전함).add_to(m)

In [143]:
m